<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>易查漫画后台</display-name>
  
  <servlet>
  	<servlet-name>InitSearch</servlet-name>
  	<servlet-class>cn.yicha.cartoon.servlet.InitServlet</servlet-class>
  	<init-param>
  		<param-name>log4j</param-name>
  		<param-value>log4j.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<servlet-class>cn.yicha.cartoon.servlet.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCoff</servlet-name>
  	<servlet-class>cn.yicha.cartoon.servlet.SearchCoff</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCoff</servlet-name>
  	<url-pattern>/searchcoff</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UploadIndex</servlet-name>
  	<servlet-class>cn.yicha.cartoon.servlet.UploadIndex</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadIndex</servlet-name>
  	<url-pattern>/uploadindex</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UploadIndexCoff</servlet-name>
  	<servlet-class>cn.yicha.cartoon.servlet.UploadIndexCoff</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadIndexCoff</servlet-name>
  	<url-pattern>/uploadindexcoff</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
